#headerPop header .iconWarp li, .gBtn, span.label, .checkedWarp input {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.position, .asidePop .bg, #headerPop header .iconWarp .link, .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.flexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box; }

.inputWarp {
  padding: 0 15px; }

.inputItem {
  margin: 0 0 10px 0; }

.inputBox {
  position: relative;
  width: 100%;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .inputBox.required:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -5px;
    width: 20px;
    height: 10px;
    background: #ff0000;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg); }
  .inputBox .unit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    line-height: 34px;
    color: #cacaca; }

input[type=text],
input[type=date],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
select {
  @extent %position;
  @extent %percent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  margin: 0;
  border: none;
  border-radius: 5px;
  line-height: 30px;
  vertical-align: top; }

input[type=submit],
input[type=button],
input[type=reset],
a.inputBtn {
  display: block;
  @extent %position;
  @extent %percent;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  line-height: 34px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-align: center; }

.inputBtn a.font12 {
  font-size: 12px; }

.horBtn > *,
.horSpacing > * {
  margin: 0 5px; }
.horBtn > *:first-child,
.horSpacing > *:first-child {
  margin: 0 5px 0 0; }
.horBtn > *:last-child,
.horSpacing > *:last-child {
  margin: 0 0 0 5px; }

.textareaBox {
  border: 1px solid #dddddd;
  border-radius: 5px; }

textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

select {
  background: -webkit-linear-gradient(#efefef, #e1e1e1);
  background: -moz-linear-gradient(#efefef, #e1e1e1);
  background: -ms-linear-gradient(#efefef, #e1e1e1);
  background: -o-linear-gradient(#efefef, #e1e1e1);
  background: linear-gradient(#efefef, #e1e1e1); }

.selectList:before {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  bottom: 0;
  width: 35px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background: -webkit-linear-gradient(#7c7c7c, #4a4a4a);
  background: -moz-linear-gradient(#7c7c7c, #4a4a4a);
  background: -ms-linear-gradient(#7c7c7c, #4a4a4a);
  background: -o-linear-gradient(#7c7c7c, #4a4a4a);
  background: linear-gradient(#7c7c7c, #4a4a4a);
  z-index: 1; }

.selectList:after {
  position: absolute;
  right: 13px;
  top: 14px;
  content: '';
  border-top: 6px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  z-index: 2; }

input[type=radio], input[type=checkbox] {
  width: 15px;
  height: 15px;
  border: 1px solid #dddddd;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  vertical-align: top; }

input[type=radio]:checked, input[type=checkbox]:checked,
input[type=checkbox]:checked {
  border: 1px solid #fba31e;
  color: #fff;
  background: #fba31e; }

input[type=checkbox] {
  border-radius: 5px; }

.hor {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  word-break: break-all; }
  .hor .f1, .hor .f2, .hor .f3, .hor .f4, .hor .f5, .hor .f6, .hor .f7 {
    width: 1%;
    position: relative; }

.ver {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  word-break: break-all; }
  .ver .f1, .ver .f2, .ver .f3, .ver .f4, .ver .f5, .ver .f6, .ver .f7 {
    height: 1%;
    position: relative; }

.f1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1; }

.f2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -ms-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2; }

.f3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-box-flex: 3;
  -o-box-flex: 3;
  box-flex: 3; }

.f4 {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -ms-box-flex: 4;
  -o-box-flex: 4;
  box-flex: 4; }

.f5 {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -ms-box-flex: 5;
  -o-box-flex: 5;
  box-flex: 5; }

.f6 {
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  -ms-box-flex: 6;
  -o-box-flex: 6;
  box-flex: 6; }

.f7 {
  -webkit-box-flex: 7;
  -moz-box-flex: 7;
  -ms-box-flex: 7;
  -o-box-flex: 7;
  box-flex: 7; }

.container {
  width: 1200px;
  margin: auto; }
  .container.w1 {
    width: 1070px; }
  .container.w2 {
    width: 1184px; }
  .container.w3 {
    width: 1461px; }
  .container.w4 {
    width: 1025px; }

.mainColor {
  color: #fba31e; }

.bcMainColor {
  background: #fba31e; }

.mainColor1 {
  color: #99cc33; }

.bcMainColor1 {
  background: #99cc33; }

.mainColor2 {
  color: #afaf8c; }

.bcMainColor2 {
  background: #afaf8c; }

.lh34 {
  line-height: 34px; }

.lh24 {
  line-height: 24px; }

.swiper-button-next,
.swiper-button-prev {
  display: none; }

.swiper-pagination-bullet-active {
  background: #fba31e; }

.blank-img {
  width: 100%; }

.bg-img {
  background-position: center top;
  backgruond-repeat: no-repeat;
  background-size: cover; }

.red {
  color: red; }

.asidePop {
  position: fixed;
  top: 50%;
  width: 74px;
  height: 414px;
  margin: -207px 0 0 0;
  right: 0;
  z-index: 10000; }
  .asidePop li {
    position: relative;
    margin: 0 0 1px 0;
    padding: 10px 0;
    text-align: center; }
    .asidePop li a {
      color: #fff; }
  .asidePop .txt {
    margin: 5px 0 0 0; }
  .asidePop .bg {
    opacity: 0.3;
    filter: alpha(opacity=30);
    background: #000;
    z-index: -1; }

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.icon {
  position: relative;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0; }
  .icon.w1 {
    width: 14px;
    height: 14px; }
  .icon.w2 {
    width: 50px;
    height: 50px; }
  .icon.w3 {
    width: 24px;
    height: 24px; }
  .icon.w4 {
    width: 60px;
    height: 50px; }
  .icon.w5 {
    width: 40px;
    height: 40px; }
  .icon.w6 {
    width: 38px;
    height: 38px; }
  .icon.m1 {
    margin: -15px 0 0 0; }
  .icon.m2 {
    margin: 0px 10px -11px 0; }
  .icon.m3 {
    margin: 0px 15px -14px 0; }
  .icon.m4 {
    margin: 0px 4px -4px 0; }

.icon001 {
  background-image: url(../images/icon/icon001.png); }

.icon003 {
  background-image: url(../images/icon/icon003.png); }

.icon004 {
  background-image: url(../images/icon/icon004.png); }

.icon005 {
  background-image: url(../images/icon/icon005.png); }

.icon007 {
  background-image: url(../images/icon/icon007.png); }

.icon008 {
  background-image: url(../images/icon/icon008.png); }

.icon009 {
  background-image: url(../images/icon/icon009.png); }

.icon010 {
  background-image: url(../images/icon/icon010.png); }

.icon011 {
  background-image: url(../images/icon/icon011.png); }

.icon012 {
  background-image: url(../images/icon/icon012.png); }

.icon014 {
  background-image: url(../images/icon/icon014.png); }

.icon015 {
  background-image: url(../images/icon/icon015.png); }

.icon016 {
  background-image: url(../images/icon/icon016.png); }

.icon018 {
  background-image: url(../images/icon/icon018.png); }

.icon019 {
  background-image: url(../images/icon/icon019.png); }

.icon020 {
  background-image: url(../images/icon/icon020.png); }

.icon021 {
  background-image: url(../images/icon/icon021.png); }

.icon022 {
  background-image: url(../images/icon/icon022.png); }

.icon023 {
  background-image: url(../images/icon/icon023.png); }

.sectionWarp {
  margin: 0 0 15px 0; }
  .sectionWarp header {
    background: #EFEBEB;
    border-bottom: 1px solid #e9e9e9;
    height: 45px;
    line-height: 45px; }
    .sectionWarp header .title {
      font-size: 16px;
      font-weight: normal;
      color: #7a7a7a;
      text-indent: 20px; }

.headerBlank {
  height: 47px;
  font-size: 0; }

.footerBlank {
  padding-bottom: 50px; }

#footerPop {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: #000; }

#headerPop {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

#headerPop .headerWarp {
  position: absolute;
  left: 0;
  right: 0; }
#headerPop header {
  position: relative;
  height: 47px;
  background: #fba31e;
  line-height: 47px; }
  #headerPop header .title {
    margin: 0;
    color: #fff;
    font-weight: normal;
    text-align: center;
    font-size: 18px; }
  #headerPop header .iconWarp {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    font-size: 0; }
    #headerPop header .iconWarp li {
      height: 100%;
      vertical-align: top;
      padding: 0 6px;
      overflow: hidden; }
    #headerPop header .iconWarp.left {
      left: 6px; }
    #headerPop header .iconWarp.right {
      right: 6px; }
    #headerPop header .iconWarp .icon {
      position: relative;
      width: 25px;
      height: 25px;
      margin: 10px 0 0 0; }
  #headerPop header a {
    display: block; }

.gBtn {
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 12px; }
  .gBtn.high {
    border: 1px solid #fba31e;
    background: #fba31e;
    color: #fff; }
  .gBtn.samll {
    padding: 4px 10px;
    font-size: 10px;
    border-radius: 5px; }
  .gBtn.med {
    padding: 4px 18px;
    font-size: 12px;
    border-radius: 11px; }

.loadMoreBtn, .moreBtn {
  display: block;
  height: 34px;
  background: #E8E8E8;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  color: #A09C9C; }

.moreBtn {
  border-radius: 12px;
  background: #e7e7d0;
  color: #afaf8c; }

span.label {
  vertical-align: top;
  width: 50px;
  padding: 0 10px 0 0;
  color: #ccc; }

.checkedWarp input {
  position: relative;
  top: 1px;
  margin: 0 4px 0 0; }

a.react {
  display: block;
  height: 100%; }

.mask {
  display: none;
  position: fixed;
  z-index: -1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  background: #000;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .mask.show {
    display: block;
    z-index: 9999; }
  .mask.showMask {
    opacity: 0.5;
    filter: alpha(opacity=50);
    background: #000; }
  .mask.blankOpacity {
    opacity: 0.05;
    filter: alpha(opacity=5);
    background: #fff; }

.loadPrompt {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 110px;
  margin: -55px 0 0 -50px;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  z-index: 10001;
  font-size: 14px;
  opacity: 0;
  filter: alpha(opacity=0);
  background: #000;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .loadPrompt.show {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background: #000; }
  .loadPrompt #warp {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px auto 5px;
    overflow: hidden; }
    .loadPrompt #warp .succ,
    .loadPrompt #warp .fail {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 5px auto 0;
      border: 4px solid #fff;
      border-radius: 50%; }
    .loadPrompt #warp .succ:before {
      position: absolute;
      left: 50%;
      top: 50%;
      content: '';
      width: 20px;
      height: 10px;
      margin: -10px 0 0 -12px;
      border-left: 4px solid #fff;
      border-bottom: 4px solid #fff;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .loadPrompt #warp .fail:before,
    .loadPrompt #warp .fail:after {
      position: absolute;
      left: 50%;
      top: 50%;
      content: '';
      height: 4px;
      width: 26px;
      margin: -2px 0 0 -13px;
      background: #fff;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .loadPrompt #warp .fail:after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

.spinner {
  display: none;
  width: 100%;
  margin: 22px auto 15px;
  text-align: center; }

.spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background: #33ee56; }

.spinner .bounce3 {
  background: #eeec33; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background: #000; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
