@charset "utf-8";

//------input-----
$inputTxtHeight : 34px;
$inputTxtRadius : 5px;
$inputBorderColor : #dddddd;
$inputRadioSize: 15px;
$headerBlank : 47px;
$footerBlank : 50px;

//------MainColor-----
$mainColor  : #fba31e;    //主色调
$mainColor1 : #99cc33;    //副色
$mainColor2 : #afaf8c;    //副色

//------bcackground-----
$bcE1 : #e1e1e1;




//------LineColor-----
$lineColor1: #ededed;

//------spacing-----
$spaning10: 10px;


//------color-----
$blue : #4598d8; //蓝色


$black60 : #666;    
$grayC : #ccc;    
$gray  : #f2f2f2; 
$org  : #ffa800;  


//------sectionWarp-----
$sectionWarpSpacingColor : #ccc;  //模块内容间隔颜色 
$sectionWarpBorderColor: #f2f2f2;

